.Myproducts {
    text-align: center;
    padding: 20px;
}

.product-table {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.product-image{
    width: 100%;
    max-width: 250px;
    border-radius: 8px;
}

.product-table th, .product-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.product-table th {
    background-color: #f4f4f4;
    text-align: left;
}

.product-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.product-table tr:hover {
    background-color: #f1f1f1;
}
