.wishlist-container {
    margin: 20px;
  }
  
  .wishlist-title {
    font-size: 24px;
    color: #333;
  }
  
  .wishlist-items {
    margin-top: 20px;
  }
  
  .wishlist-item {
    display: inline-block;
    width: calc(25% - 20px); /* Adjust the width of each item as needed */
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .wishlist-item-content {
    padding: 20px;
  }
  
  .wishlist-item-img {
    position: relative;
  }
  
  .wishlist-item-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .wishlist-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .wishlist-item-name {
    font-size: 16px; /* Smaller font size */
    margin-top: 10px;
    color: #333;
  }
  
  .wishlist-item-details {
    margin-top: 10px;
  }
  
  .wishlist-item-price,
  .wishlist-item-delivery {
    font-size: 12px; /* Smaller font size */
    color: #666;
  }
  
  .wishlist-item-delivery img {
    vertical-align: middle;
    margin-right: 5px;
  }
  